* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: initial;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
pre,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
input,
button,
select,
textarea {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
th {
  font-weight: inherit;
}

em,
i,
dfn {
  font-style: inherit;
}

a,
u {
  text-decoration: inherit;
}

mark {
  background-color: transparent;
}

input[type='button'],
input[type='submit'] {
  -webkit-appearance: button;
  appearance: button;
}

select {
  -webkit-appearance: menulist-button;
  appearance: menulist-button;
}

textarea {
  font-family: sans-serif;
  line-height: 1;
}

optgroup {
  font-style: normal;
}

ul,
ol {
  list-style: none;
}

th {
  text-align: left;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
